@model RC.Domain.RastreioCorreioDTO
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div class="row">
        <div class="offset-4 form-group text-center">
            <div class="input-group text-center">
                <div class="col-12">
                    <h5>Códigos de rastreamento </h5><h3>1 por linha</h3>
                </div>
                <textarea id="codigos" class="form-control" name="codigos" rows="4" cols="10"></textarea>
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Buscar" />
        </div>
    </div>
</form>

@if (Model != null && Model.objeto.Any())
{
    foreach (var encomenda in Model.objeto)
    {
        if (encomenda != null)
        {
            await Html.RenderPartialAsync("../Shared/_ReportEncomendaCorreio", encomenda);
        }
    }
}